@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-Hair.eot');
    src: url('/Fonts/Fira/eot/FiraSans-Hair.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-Hair.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-Hair.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-HairItalic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-HairItalic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-HairItalic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-HairItalic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-HairItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-UltraLight.eot');
    src: url('/Fonts/Fira/eot/FiraSans-UltraLight.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-UltraLight.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-UltraLight.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-UltraLightItalic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-UltraLightItalic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-UltraLightItalic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-Light.eot');
    src: url('/Fonts/Fira/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-Light.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-Light.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-LightItalic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-LightItalic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-LightItalic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-Regular.eot');
    src: url('/Fonts/Fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-Regular.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-Regular.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-Italic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-Italic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-Italic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-Italic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-Medium.eot');
    src: url('/Fonts/Fira/eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-Medium.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-Medium.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-MediumItalic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-MediumItalic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-MediumItalic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-SemiBold.eot');
    src: url('/Fonts/Fira/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-SemiBold.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-SemiBold.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-SemiBoldItalic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-SemiBoldItalic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-SemiBoldItalic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-Bold.eot');
    src: url('/Fonts/Fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-Bold.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-Bold.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-BoldItalic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-BoldItalic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-BoldItalic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-ExtraBold.eot');
    src: url('/Fonts/Fira/eot/FiraSans-ExtraBold.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-ExtraBold.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-ExtraBold.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-ExtraBoldItalic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-ExtraBoldItalic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-Heavy.eot');
    src: url('/Fonts/Fira/eot/FiraSans-Heavy.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-Heavy.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-Heavy.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/Fonts/Fira/eot/FiraSans-HeavyItalic.eot');
    src: url('/Fonts/Fira/eot/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
         url('/Fonts/Fira/woff2/FiraSans-HeavyItalic.woff2') format('woff2'),
         url('/Fonts/Fira/woff/FiraSans-HeavyItalic.woff') format('woff'),
         url('/Fonts/Fira/ttf/FiraSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Path: Lora */

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Lora';
    src: url('/Fonts/Lora/ttf/Lora-BlackItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@layer base {
	:root {
		font-size: 13px;
		--background: 210 17% 92%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer base {

	* {
		@apply hyphens-auto border-border;
	}

	body {
		@apply h-full min-h-full w-full min-w-full bg-background text-foreground overflow-y-scroll;
	}

	#background {
		@apply fixed -z-50 h-full min-h-full w-full min-w-full;
	}


	.ma-jahrgang-additional {
		@apply inline-block rounded bg-slate-200 px-1.5 py-0.5 text-xs;
	}

	.ma-add-band {
		@apply inline-block;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-bold;
	}

	h1 {
		@apply mb-2 mt-4 text-7xl;
	}

	h2 {
		@apply mb-2 mt-4 text-5xl;
	}

	h3 {
		@apply mb-2 mt-4 text-xl;
	}

	p {
		@apply mt-1;
	}

	p:not(:first-of-type) {
		@apply indent-4;
	}

	table th {
		@apply text-left;
	}

	table td {
		vertical-align: top !important;
	}

	table td {
		@apply py-0.5 pr-3;
	}

	input {
		@apply px-1;
	}

	a:hover {
		@apply cursor-pointer;
	}

	/* INPUT ELMENTS */
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 32px;
		height: 18px;
		top: 0.2rem;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.25s;
		transition: 0.25s;
	}

	.slider:before {
		position: absolute;
		content: '';
		height: 12px;
		width: 12px;
		left: 2px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: 0.25s;
		transition: 0.25s;
	}

	input:checked + .slider {
		background-color: #2196f3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(14px);
		-ms-transform: translateX(14px);
		transform: translateX(14px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	.ma-list-searchbox {
		@apply rounded-md border p-1.5 pr-2.5 py-1.5 border-slate-400 bg-slate-100 shadow-sm transition-all duration-150 ease-in-out;
	}

	.ma-list-searchbox:has(.cm-editor.cm-focused) {
		@apply !border-sky-500 transition-all duration-150 ease-in-out shadow;
	}

	.ma-list-searchbox .cm-editor {
		@apply rounded-md py-0.5 border-slate-500 bg-slate-100 transition-all duration-150 ease-in-out focus:outline-none outline-none;
	}

	.ma-list-searchbox .cm-editor.cm-focused {
		@apply border-sky-500 transition-all duration-150 ease-in-out;
	}
}
